<h2>Products</h2>
<!-- Structural directives shape or reshape the DOM's structure, by adding, removing and manipulating elements. -->

<!--With *ngFor The div repeats for each product in the list -->

<div *ngFor="let product of products">
  <!-- Angular's interpolation syntax {{ valueAsText }} lets you render the property value as text -->
  <h3>
    {{ product.name }}
  </h3>  
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
